.main {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: clamp(24px, calc(24px + (26 * ((100vw - 320px) / 1120))), 50px);
    padding-bottom: clamp(100px, calc(100px + (199 * ((100vw - 320px) / 1120))), 299px);
    padding-right: clamp(100px, calc(100px + (199 * ((100vw - 320px) / 1120))), 460px);
    background-color: #ffffff;
}

.container {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.Right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.Top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

}

.Top h1 {
    font-family: var(--lexend);
    font-size: var(--fs-22);
    font-weight: 500;
    color: #2F362A;
    text-transform: uppercase;

}

.searchWrapper {
    max-width: 442px;
    width: 442px;
}

.searchInput {
    width: 100%;
    height: 45px;
    padding: 0 16px;
    font-family: var(--lato);
    font-size: 15px;
    color: #6E736A;
    font-weight: 500;
    border: 1px solid #2F362A4D;
}

.searchInput::placeholder {
    font-family: var(--lato);
    font-size: 15px;
    color: #6E736A;
    font-weight: 500;
}


.Filter {
    padding: 12px;
    border: 1px solid #2F362A4D;
}

@media (max-width: 640px) {
    .Top {
        flex-direction: column;
        gap: 24px;
        justify-content: left;
        align-items: flex-start;
        max-width: 354px;
    }

    .searchWrapper {
        max-width: 542px;
        width: 542px;
    }

    .main {
        padding-right: 24px;
    }
    .Right{
        max-width:354px ;
    }
     .searchWrapper{
        width: 100%;
        max-width: 100%;
    }
}
@media (min-width: 641px) and (max-width: 1024px) {
    .main {
        padding-right: 10px;
    }
    .container{
        max-width: 450px;
    }
    .Top{
flex-direction: column;
    }
    .searchInput{
        max-width: 400px;
    }
    .searchWrapper{
        width: 100%;
        max-width: 100%;
    }
}