.Container {
   display: flex;
    justify-content: left;
    background-color: #ffffff;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 700px;
  padding-left: clamp(24px, calc(24px + (26 * ((100vw - 320px) / 1120))), 50px);
padding-right: clamp(24px, calc(24px + (76 * ((100vw - 320px) / 1120))), 100px);
padding-bottom: clamp(80px, calc(80px + (120 * ((100vw - 320px) / 1120))), 200px);

}

.PageTitle {
  font-family: var(--lexend);
  font-size: 22px;
  font-weight: 500;
  color: #2F362A;
  margin-bottom: 20px;
}

.StatusBar {
  border: 1px solid #E0E0E0;
  padding: 14px 18px;
  margin-bottom: 24px;
  font-family: var(--lato);
  font-size: 15px;
  color: #6E736A;
}

.Card {
  border: 1px solid #E0E0E0;
  padding: 24px;
  margin-bottom: 32px;
}

.CardTitle {
  font-family: var(--lato);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.ProductRow {
  display: flex;
  gap: 16px;
}

.ProductRow img {
  width: 82px;
  height: 80px;
}

.ProductInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ProductName {
  font-size: 15px;
  color: #2F362A;
}

.ProductMeta {
  font-size: 13px;
  color: #6E736A;
}

.DetailsGrid p {
  font-size: 13px;
  color: #6E736A;
}

.DetailsGrid span {
  color: #2F362A;
}

.Section {
  margin-bottom: 32px;
}

.Section h4 {
   font-family: var(--lexend);
  font-size: 22px;
  font-weight: 500;
  color: #2F362A;
  margin-bottom: 12px;
}

.InfoBox {
  border: 1px solid #E0E0E0;
  padding: 16px;
  font-size: 15px;
  color: #6E736A;
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.InfoBoxbt{
  border: 1px solid #E0E0E0;
  padding: 16px;
  font-size: 15px;
  color: #6E736A;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.InfoHeader{
  display: flex;
  justify-content: left;
  flex-direction: row;
  gap: 21px;
  align-items: center;
}
.InfoHeaderRight{
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 8px;
  max-width: 374px;
}
.InfoHeaderRight p{
  font-family: var(--lato);
  font-size: 15px;
  font-weight: 400;
  color: #6E736A;
   
}
.InfoFooter{
  display: flex;
  justify-content: left;
  flex-direction: row;
  gap: 8px;
 
  
}

.Table {
  border: 1px solid #E0E0E0;
  margin-top: 16px;
}

.TableHeader,
.TableRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 12px 16px;
  font-size: 15px;
}

.TableHeader {
  border-bottom: 1px solid #E0E0E0;
  font-weight: 500;
}

.TableRow {
  border-bottom: 1px solid #E0E0E0;
}

.ViewLink {
  text-decoration: underline;
  cursor: pointer;
}

.CancelBtn {
  width: 100%;
  background-color: #6C7A5F;
  color: #fff;
  border: none;
  padding: 15px;
  font-family: var(--lato);
  font-size: 14px;
  margin-top: 20px;
  cursor: pointer;
}

.Note {
  font-size: 12px;
  color: #6E736A;
  text-align: center;
  margin-top: 8px;
}


@media (max-width: 640px) {
  .ProductRow {
    flex-direction: column;
  }

  .TableHeader,
  .TableRow {
    grid-template-columns: 1fr;
    gap: 6px;
  }
}
