.main{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
   padding:
  clamp(80px, calc(80px + (20 * ((100vw - 320px) / 1120))), 100px)
  clamp(24px, calc(24px + (101 * ((100vw - 320px) / 1120))), 125px)
  0px
  clamp(24px, calc(24px + (101 * ((100vw - 320px) / 1120))), 125px);

}
.MainContainer{
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}
.Top{
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 14.4px;
    align-items: center;
}
.Home p, .Shop p, .CatName p{
    font-family: var(--lato);
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    color: #6E736A;
}
.ProductName p{
    font-family: var(--lato);
    font-size: 15px;
    cursor: pointer;
    font-weight: 700;
    color: #6E736A;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #2F362A4D;

}
@media (max-width: 640px) {
  .main{
    padding: 140px 24px 0px 24px;
  }
  .Top p{
    font-size: 14px;
  }
}
@media (min-width: 641px) and (max-width: 10240px) {
  .main{
   padding-top: 140px;
  }
}