.breadcrumb {
  position: relative;
  z-index: 1001;           
  background: #ffffff;
  padding: 120px 125px 60px 125px;
}

.BreadcrumbWrapper::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 260px;            */
  background: #ffffff;
  z-index: 1000;          
  pointer-events: none;
}

.BreadcrumbWrapper {
  position: sticky;
  top: 0;
  z-index: 1000; 
}

.Main{
  display: flex;
 flex-direction: column;
  gap: 25px;
  justify-content: left;
}
.line{
    width: 100%;
    height: 1px;
    background-color:#2F362A4D;
}
.Top{
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.Top h4{
    font-family: var(--lato);
    font-size: 15px;
    font-weight: 400;
    color: #6E736A;
    cursor: pointer;

}
.Top a{
    text-decoration: none;
    color: inherit;
}
.Top h5{
    font-family: var(--lato);
    font-size: 15px;
    font-weight: 700;
    color: #2F362A;
    cursor: pointer;
}
.mobileHeader {
  display: none;
}
@media (max-width: 640px) {
  .breadcrumb {
    padding-left:24px;
    padding-right:24px;
    padding-top:140px;
    padding-bottom: 24px;
  }

  .Top {
    display: none;
  }

 
  .mobileHeader {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .mobileHeader h3 {
    font-family: var(--lato);
    font-size: 15px;
    font-weight: 700;
    color: #2F362A;
    text-transform: uppercase;
  }

  .backBtn {
    display: flex;
    align-items: center;
  }

  .line {
    display: none;
  }
}
@media (min-width: 641px) and (max-width: 1240px) {
  .breadcrumb {
    padding-top: 140px;
    padding-left: 40px;
  }
  .Top {
    display: none;
  }

 
  .mobileHeader {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .mobileHeader h3 {
    font-family: var(--lato);
    font-size: 15px;
    font-weight: 700;
    color: #2F362A;
    text-transform: uppercase;
  }

  .backBtn {
    display: flex;
    align-items: center;
  }

  .line {
    display: none;
  }
}