.extraTopSpaceMopbile {
  height: 0px;
  background-color: #6c7a5f;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100svh;
  background: linear-gradient(to right, #6c7a5f 50%, #ffffff 50%);
  padding: clamp(50px, calc(50px + (51 * ((100vw - 320px) / 1120))), 101px)
    clamp(24px, calc(24px + (213 * ((100vw - 320px) / 1120))), 237px)
    clamp(50px, calc(50px + (51 * ((100vw - 320px) / 1120))), 101px)
    clamp(24px, calc(24px + (101 * ((100vw - 320px) / 1120))), 125px);
}
.MainConatiner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  gap: clamp(30px, calc(30px + (28 * ((100vw - 320px) / 1120))), 58px);

  align-items: center;
}
.LeftConatiner {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: clamp(30px, calc(30px + (126 * ((100vw - 320px) / 1120))), 156px);

  width: 100%;
}
.heading {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 8px;
  width: 70%;
}
.lineleft {
  width: 60%;
  height: 1px;
  background-color: #ffffff99;
}
.heading h3 {
  font-family: var(--lexend);
  font-style: normal;
  font-weight: 500;
  font-size: var(--fs-22);
  color: #ffffff;
  text-transform: uppercase;
}
.heading h2 {
  font-family: var(--lexend);
  font-style: normal;
  font-weight: 600;
  font-size: var(--fs-60);
  color: #ffffff;
  text-transform: uppercase;
}
.para {
  display: flex;
  justify-content: left;
}
.para p {
  font-family: var(--lato);
  font-weight: 400;
  font-size: var(--fs-15);
  line-height: 140%;
  color: #ffffff;
  width: 70%;
}
.MiddleContainer {
  display: flex;
  justify-content: left;
  width: 90%;
}
.MiddleContainer img {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 680px;
}
.RightContainer {
  display: flex;
  justify-content: center;
  width: 60%;
  flex-direction: column;
  padding-left: clamp(0px, calc(0px + (100 * ((100vw - 320px) / 1120))), 100px);

  gap: clamp(15px, calc(15px + (140 * ((100vw - 320px) / 1120))), 155px);
}
.RightContainerTop {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 15px;
}
.First,
.Second,
.Third {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.FirstTop p,
.SecondTop p,
.ThirdTop p {
  font-family: var(--lato);
  font-weight: 400;
  font-size: var(--fs-15);
  color: #2f362a;
}
.FirstBottom p,
.SecondBottom p,
.ThirdBottom p,
.FirstBottom a,
.SecondBottom a {
  font-family: var(--lato);
  font-weight: 400;
  font-size: var(--fs-15);
  color: #6e736a;
  text-decoration: none;
}
.line {
  width: 70%;
  height: 1px;
  background-color: #52525299;
}
.RightContainerBottom {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 8px;
}
.RightContainerBottomHeading {
  display: flex;
  justify-content: left;
}
.RightContainerBottomHeading h5 {
  font-family: var(--lato);
  font-weight: 400;
  font-size: var(--fs-15);
  color: #2f362a;
}
.RightContainerBottomSocials {
  display: flex;
  justify-content: left;
  gap: clamp(15px, calc(15px + (20 * ((100vw - 320px) / 1120))), 35px);

  flex-direction: row;
}
.socialOne,
.socialTwo,
.socialThree {
  display: flex;
  justify-content: left;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}
.socialOne p,
.socialTwo p,
.socialThree p {
  font-family: var(--lato);
  font-weight: 400;
  font-size: var(--fs-15);
  cursor: pointer;
  color: #6e736a;
}
.socialOne svg,
.socialTwo svg,
.socialThree svg {
  /* width: 100%;
    height: 100%; */
  max-width: 10px;
  max-height: 9px;
}
.mobline,
.FacebookMobile,
.LinkedinMobile,
.InstaMobile {
  display: none;
}
@media (max-width: 640px) {
  .extraTopSpaceMopbile {
    height: 120px;
  }
  .main {
    padding: 50px 24px;
    padding-top: 150px;
    height: auto;
    background: linear-gradient(to bottom, #6c7a5f 50%, #ffffff 50%);
  }
  .MainConatiner {
    flex-direction: column;
    gap: 30px;
  }
  .heading {
    gap: 15px;
  }
  .LeftConatiner {
    gap: 30px;
  }
  .heading h2 {
    font-size: 32px;
  }
  .heading h3 {
    font-size: 20px;
  }
  .para p {
    font-size: 14px;
  }
  .MiddleContainer {
    justify-content: left;
    width: 100%;
  }
  .MiddleContainer img {
    width: 100%;
    height: 100%;
    max-width: 354px;
    max-height: 470px;
  }
  .RightContainer {
    gap: 15px;
    padding: 0px;
    justify-content: left;
    width: 100%;
  }
  .RightContainerTop {
    gap: 15px;
  }
  .RightContainerBottom {
    gap: 15px;
  }
  .mobline {
    display: block;
    width: 60%;
    height: 1px;
    background-color: #6c7a5fb2;
  }
  .socialOne,
  .socialTwo,
  .socialThree {
    /* display: none; */
  }
  .InstaMobile,
  .FacebookMobile,
  .LinkedinMobile {
    display: flex;
    justify-content: left;
    gap: 8px;
    cursor: pointer;
    align-items: center;
  }
  .RightContainerBottomHeading h5 {
    font-size: 14px;
  }
  .FirstTop p,
  .SecondTop p,
  .ThirdTop p {
    font-size: 14px;
  }
}

@media (min-width: 641px) and (max-width: 940px) {
  .extraTopSpaceMopbile {
    height: 110px;
  }
  .main {
    padding-top: 160px;
    height: auto;
    background: linear-gradient(to bottom, #6c7a5f 50%, #ffffff 50%);
  }
  .MainConatiner {
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .heading {
    gap: 8px;
  }
  .LeftConatiner {
    gap: 30px;
  }

  .heading h2 {
    font-size: 32px;
  }
  .heading h3 {
    font-size: 20px;
  }
  .para p {
    font-size: 14px;
  }
  .MiddleContainer {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .MiddleContainer img {
    width: 100%;
    height: 100%;
    max-width: 354px;
    max-height: 470px;
  }
  .RightContainer {
    gap: 15px;
    padding: 0px;
    justify-content: left;
    width: 100%;
  }
  .RightContainerTop {
    gap: 15px;
  }
  .RightContainerBottom {
    gap: 15px;
  }
  .mobline {
    display: block;
    width: 60%;
    height: 1px;
    background-color: #6c7a5fb2;
  }
  .socialOne,
  .socialTwo,
  .socialThree {
    /* display: none; */
  }
  .InstaMobile,
  .FacebookMobile,
  .LinkedinMobile {
    display: flex;
    justify-content: left;
    gap: 8px;
    cursor: pointer;
    align-items: center;
  }
  .RightContainerBottomHeading h5 {
    font-size: 14px;
  }
  .FirstTop p,
  .SecondTop p,
  .ThirdTop p {
    font-size: 14px;
  }
}
@media (min-width: 941px) and (max-width: 1240px) {
  .main {
    padding: 50px 24px;
  }
  .MainConatiner {
    gap: 40px;
  }
  .LeftConatiner {
    gap: 40px;
  }
  .para p {
    font-size: 14px;
  }
  .MiddleContainer {
    justify-content: left;
    width: 100%;
  }
  .MiddleContainer img {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 530px;
  }
  .RightContainer {
    gap: 15px;
    padding: 0px;
  }
  .RightContainerTop {
    gap: 15px;
  }
  .RightContainerBottom {
    gap: 15px;
  }
}
@media (min-width: 1241px) and (max-width: 1440px) {
  .MainConatiner {
    gap: 0px;
  }
  .LeftConatiner {
    gap: 50px;
  }
}
