.main {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: clamp(24px, calc(24px + (26 * ((100vw - 320px) / 1120))), 50px);
    padding-bottom: clamp(100px, calc(100px + (199 * ((100vw - 320px) / 1120))), 299px);
    padding-right: clamp(100px, calc(100px + (199 * ((100vw - 320px) / 1120))), 460px);
    background-color: #ffffff;
}

.container {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 100%;
    gap: 45px;
}

.main h1 {
    font-size: 22px;
    font-family: var(--lexend);
    font-weight: 500;
    color: #525252;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.Top {
    display: flex;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(47, 54, 42, 0.3);
}

.Left {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 30px;
}


.Left h1 {
    font-family: var(--lato);
    font-weight: 700;
    font-size: 15px;
    margin: 0;
    color: #6E736A;

}


.Left p {
    font-family: var(--lato);
    font-weight: 400;
    font-size: 15px;
    color: #6E736A;
    background-color: rgba(47, 54, 42, 0.2);
    padding: 6px 10px;
}

.refund {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(47, 54, 42, 0.3);
    /* padding: 20px 33px; */
}

.refundTop p {
    font-family: var(--lato);
    font-weight: 400;
    font-size: 15px;
    color: #6E736A;
}

.refundTop h1 {
    font-family: var(--lato);
    font-weight: 400;
    font-size: 15px;
    color: #6E736A;
    margin: 0;
    text-transform: none;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #2f362a4d;
}

.refundTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 30px;

}

.refundBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 16px 30px;
}

.refundBottom h1 {
    font-family: var(--lato);
    font-weight: 400;
    font-size: 15px;
    text-transform: none;
    margin: 0;
    color: #6E736A;
}

.refundBottom p {
    font-family: var(--lato);
    font-weight: 400;
    font-size: 15px;
    text-transform: none;
    color: #6E736A;
}

.visa {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;

}

.visa p {
    font-family: var(--lato);
    font-weight: 400;
    font-size: 15px;
    text-transform: none;
    color: #6E736A;
}

@media (max-width: 1200px) {
    .main {
        padding-right: 20px;
    }
}