.Overlay {
  position: fixed;
  inset: 0;
  background-color: #ffffff;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.Hidden {
  opacity: 0;
  pointer-events: none;
}

.LoaderContainer {
  position: relative;
  width: 150px;
  height: 150px;
}

.LoaderImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
