.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-right: 500px;
  padding-left: 500px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: white;
}
.MainConatiner{
  display: flex;
  justify-content: left;
  width: 100%;
  flex-direction: column;
  gap: 30px;
}
.Heading{
  display: flex;
  justify-content: left;

}
.Heading h1{
  font-family: var(--lexend);
  font-weight: 500;
  color: #2F362A;
  text-transform: uppercase;
  font-size: var(--fs-60);
}
.Desc{
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 15px;
}
.Desc h3{
  font-family: var(--lexend);
  font-size: var(--fs-22);
  font-weight: 500;
  color: #2F362A;
  margin: 0px;
}
.Desc p{
  font-family: var(--lato);
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  color: #6E736A;
}
.Content{
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 15px;
}
.Content h3{
  font-family: var(--lexend);
  font-size: var(--fs-22);
  font-weight: 500;
  color: #2F362A;
  margin: 0px;
}
.Content p{
  font-family: var(--lato);
  font-size: 15px;
  font-weight: 400;
  color: #6E736A;
}
.Content ul {
  padding-left: 20px;   
  margin: 0;
}
.Content li {
  font-family: var(--lato);
  font-size: 15px;
  font-weight: 400;
  color: #6E736A;
}
@media (max-width: 1440px) {
  .mainPage {
    padding-right: 300px;
    padding-left: 300px;
  }
}

@media (max-width: 1024px) {
  .mainPage {
    padding-right: 150px;
    padding-left: 150px;
  }
}

@media (max-width: 768px) {
  .mainPage {
    padding-right: 10%;
    padding-left: 10%;
  }
}
