.main{
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: url("./1.png") center / cover no-repeat;
    
   padding-left: clamp(24px, calc(24px + (101 * ((100vw - 320px) / 1120))), 125px);


}
.MainConatiner{
    display: flex;
    justify-content: left;

    width: 100%;
    height: 100%;
    gap: 50px;
    flex-direction: column;
}
.TextContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: left;
}
.TextContainer h3{
    font-size: var(--fs-60);
    font-family: var(--lexend);
    text-transform: uppercase;
    color: #2F362A;
    font-weight: 500;
    margin: 0;
}
.TextContainer p{
    font-size: 15px;
    font-family: var(--lato);
    color: #6E736A;
    font-weight: 700;
    max-width: 450px;
    margin: 0;
}
.CtaContainer
{
    display: flex;
    justify-content: left;
}
.CtaButton{
    background-color: #6C7A5F;
    color: #FFFFFF;
    font-family: var(--lato);
    font-size: 15px;
    font-weight: 500;
    padding: 13px 32.5px;
    border: none;
    cursor: pointer;
   
}
@media (max-width: 640px) {
    .main{
       background: #fffbf4;
    }
    .MainConatiner{
        gap: 30px;
    }
    .TextContainer{
        gap: 15px;
    }
    .TextContainer h3{
        font-size: 20px;
    }
    .TextContainer p{
        font-size: 14px;
        max-width: 300px;
    }
    .CtaButton{
        font-size: 14px;
        padding: 13px 19px;
    }
}
