.Main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 0 clamp(70px, calc(70px + (80 * ((100vw - 320px) / 1120))), 150px)
    0;

  background-color: #ffffff;
}

.MainConatiner {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 100%;
  align-items: center;
  /* gap: 117px; */
}

.Top {
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.Top h3 {
  font-size: var(--fs-22);
  font-family: var(--lexend);
  font-weight: 500;
  color: #525252;
  text-transform: uppercase;
}

.Bottom {
  display: flex;
  justify-content: left;
  flex-direction: row;
  gap: clamp(40px, calc(40px + (50 * ((100vw - 320px) / 1120))), 90px);

  width: 100%;
}

.Marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.Track {
  display: flex;
  gap: clamp(40px, calc(40px + (50 * ((100vw - 320px) / 1120))), 90px);

  animation: scroll 20s linear infinite;
  white-space: nowrap;
}

.Track img {
  height: 100%;
  max-height: 108px;
  width: auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media (max-width: 640px) {
  .Main {
    padding: 0px 0px 100px 0px;
  }
  .Track img {
    width: 100%;
    height: 100%;
    max-width: 66px;
    max-height: 40px;
  }
  .Bottom {
    gap: 40px;
  }
  .Track {
    gap: 40px;
  }
}
