.main {
    width: 100%;
}

.main h1 {
    font-size: 22px;
    font-family: var(--lexend);
    font-weight: 500;
    color: #525252;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(47, 54, 42, 0.3);
}

.Top {
    display: flex;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(47, 54, 42, 0.3);
}

.Left {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 30px;

}


.Left h1 {
    font-family: var(--lato);
    font-weight: 700;
    font-size: 15px;
    margin: 0;
    color: #6E736A;

}


.Left p {
    font-family: var(--lato);
    font-weight: 400;
    font-size: 15px;
    color: #6E736A;
    background-color: rgba(47, 54, 42, 0.2);
    padding: 6px 10px;
}

.divder {
    height: 1px;
    color: #6E736A;
}

.Bottom {
    display: flex;
    padding: 13px 30px;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
}

.Bottom p {
    font-family: var(--lato);
    font-weight: 400;
    font-size: 15px;
    color: #2F362A;
}

.Right {
    display: flex;
    gap: 10px;
}

.Right p {

    color: #6E736A;
}