.Main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: clamp(70px, calc(70px + (80 * ((100vw - 320px) / 1120))), 150px)
    clamp(24px, calc(24px + (101 * ((100vw - 320px) / 1120))), 125px)
    clamp(70px, calc(70px + (5 * ((100vw - 320px) / 1120))), 75px)
    clamp(24px, calc(24px + (101 * ((100vw - 320px) / 1120))), 125px);

  background-color: #ffffff;
}
.MainContainer {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 100%;
  gap: clamp(30px, calc(30px + (45 * ((100vw - 320px) / 1120))), 75px);
}
.Top {
  display: flex;
  justify-content: left;
}
.Top h3 {
  font-size: var(--fs-22);
  font-family: var(--lexend);
  font-weight: 500;
  color: #2f362a;
  text-transform: uppercase;
}
.Bottom {
  display: flex;
  justify-content: left;
  flex-direction: row;
}
.Card {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: clamp(30px, calc(30px + (45 * ((100vw - 320px) / 1120))), 75px);

  width: 100%;
  max-width: 416px;
  min-height: 410px;
  max-height: 410px;
  height: 100%;
  padding: 6px 6px 63px 6px;
  border: 1px solid #52525299;
}
.ImageContainer {
  display: flex;
  justify-content: left;
}
.ImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  max-width: 405px;
  max-height: 195px;
}
.TextContainer {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 15px;
  padding-left: 38.5px;
  width: 70%;
}

.TextContainer h3 {
  font-size: 22px;
  font-family: var(--lexend);
  font-weight: 500;
  color: #525252;
  text-transform: uppercase;
}
.TextContainer p {
  font-size: 15px;
  font-family: var(--lato);
  font-weight: 400;
  color: #6e736a;
  line-height: 100%;
}
@media (max-width: 640px) {
  .Main {
    padding: 80px 24px 70px 24px;
  }
  .MainContainer {
    gap: 30px;
  }
  .Top h3{
    font-size: 20px;
  }
  .Bottom{
    flex-direction: column;
    gap: 30px;
  }
  .Card{
   
    min-height: 375px;
    width: 100%;
    height: 100%;
    gap: 30px;
  }
  .TextContainer{
    padding-left: 0px;
    gap: 15px;
    width: 100%;
  }
  .TextContainer h3{
    font-size: 20px;
  }
    .TextContainer p{
        font-size: 14px;
    }
}
@media (min-width:641px) and (max-width: 920px) {
    .TextContainer{
        padding-left: 0px;
    }
    .TextContainer h3{
        font-size: 18px;
    }
    .Main{
        padding-left: 40px;
        padding-right: 40px;
    }
    .ImageContainer img{
        width: 100%;
        height: 100%;
        max-width: 200px;
        min-height: 120px;
    }
}
@media (min-width:921px) and (max-width: 1440px) {
    .TextContainer{
        padding-left: 0px;
    }
    .TextContainer h3{
        font-size: 18px;
    }
    .Main{
        padding-left: 40px;
        padding-right: 40px;
    }
    .ImageContainer img{
        width: 100%;
        height: 100%;
        min-height: 180px;
    }
}

