.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 95px;
    padding-bottom: 100px;
    background-color: #ffffff;
}
.MainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:30px;
    flex-direction: column;
}
.Top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.Top h3{
    font-family: var(--lato);
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #2F362A;
}
.Top p{
    font-family: var(--lato);
   
    font-weight: 400;
    font-size: 15px;
    line-height:140%;
    color: #6E736A;
    text-align: center;
    width: 70%;
  
}
.Bottom{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.Button{
    padding: 13.5px 46px;
    background-color: #6C7A5F;
    color: #FFFFFF;
    font-family: var(--lato);
    font-family: 500;
    font-size: 15px;
    border: none;
    cursor: pointer;

}