.Main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: clamp(70px, calc(70px + (80 * ((100vw - 320px) / 1120))), 150px)
    clamp(24px, calc(24px + (101 * ((100vw - 320px) / 1120))), 125px)
    clamp(70px, calc(70px + (80 * ((100vw - 320px) / 1120))), 150px)
    clamp(24px, calc(24px + (101 * ((100vw - 320px) / 1120))), 125px);

  background-color: #ffffff;
}
.MainConatiner {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
.Left {
  display: flex;
  justify-content: left;
  width: 100%;
}
.Left h4 {
  font-size: var(--fs-22);
  font-family: var(--lexend);
  font-weight: 500;
  color: #525252;
  text-transform: uppercase;
}
.Right {
  display: flex;
  justify-content: left;
  width: 100%;
}
.Right p {
  font-size: var(--fs-15);
  font-family: var(--lato);
  font-weight: 400;
  color: #6e736a;
  line-height: 140%;
}
@media (max-width: 640px) {
  .Main {
    padding: 70px 24px;
  }
  .MainConatiner {
    flex-direction: column;
    gap: 30px;
  }
  .Left h4 {
    font-size: 18px;
  }
  .Right p {
    font-size: 15px;
  }
}
