.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: clamp(70px, calc(70px + (80 * ((100vw - 320px) / 1120))), 150px)
    clamp(24px, calc(24px + (101 * ((100vw - 320px) / 1120))), 125px) 0px
    clamp(24px, calc(24px + (101 * ((100vw - 320px) / 1120))), 125px);
}
.MainConatiner {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: clamp(30px, calc(30px + (30 * ((100vw - 320px) / 1120))), 60px);
}
.Top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
}
.TopLeft {
  display: flex;
  justify-content: left;
  width: 50%;
}
.TopLeft h3 {
  font-size: var(--fs-22);
  font-family: var(--lexend);
  color: #2f362a;
  font-weight: 500;
  text-transform: uppercase;
}
.TopRight {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 15px;
  width: 50%;
}
.TopRight p {
  color: #6e736a;
  font-family: var(--lato);
  font-size: 15px;
  font-weight: 400;
}
.knowMore {
  width: fit-content;
  background-color: none;
  border: none;
  background: none;
  font-family: var(--lato);
  font-weight: 400;
  font-size: 15px;
  color: #6e736a;
  text-decoration: underline;
  cursor: pointer;
}
.Bottom {
  display: flex;
  justify-content: left;
  width: 100%;
  height: 100%;
}
.Bottom img {
  width: 100%;
  height: 100%;
  max-width: 1668px;
  max-height: 638px;
  object-fit: cover;
}
@media (max-width: 640px) {
  .main {
    padding: 70px 24px 0px 24px;
  }
  .MainConatiner {
    gap: 30px;
  }
  .Top {
    flex-direction: column;
    justify-content: left;
    gap: 30px;
  }
  .TopLeft {
    width: 100%;
  }
  .TopRight {
    width: 100%;
  }
  .TopLeft h3 {
    font-size: 20px;
  }
  .Bottom img {
    width: 100%;
    height: 100%;
    max-width: 354px;
    max-height: 135px;
  }
}
