.main {
    width: 100%;
}

.main h1 {
    font-size: 22px;
    font-family: var(--lexend);
    font-weight: 500;
    color: #525252;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(47, 54, 42, 0.3);
    padding: 20px 33px;
}

.container p {
    font-family: var(--lato);
    font-weight: 400;
    font-size: 15px;
    color: #6E736A
}